In [1]:
import streamlit as st

In [1]:
import pandas as pd

In [10]:
engie = pd.read_csv("ENGIY.csv")

In [11]:
engie

          Date   Open       High     Low  Close  Adj Close   Volume
0   2017-05-01  14.15  15.370000  14.110  15.31  13.168867  3100100
1   2017-06-01  15.30  15.820000  15.060  15.15  13.510805  2446400
2   2017-07-01  15.24  16.209999  14.760  16.16  14.411525  2909900
3   2017-08-01  16.15  17.219999  15.970  16.76  14.946607  3651100
4   2017-09-01  16.85  17.980000  16.000  16.98  15.142802  4011800
..         ...    ...        ...     ...    ...        ...      ...
56  2022-01-01  14.93  15.900000  14.740  15.38  15.380000  4242300
57  2022-02-01  15.59  16.780001  15.260  15.87  15.870000  2482400
58  2022-03-01  14.37  14.390000  10.770  13.10  13.100000  8422000
59  2022-04-01  13.23  13.250000  12.270  12.57  12.570000  3160900
60  2022-04-18  12.60  12.680000  12.418  12.60  12.600000   344775

[61 rows x 7 columns]

In [24]:
engie['Date'].unique().tolist()

['2017-05-01',
 '2017-06-01',
 '2017-07-01',
 '2017-08-01',
 '2017-09-01',
 '2017-10-01',
 '2017-11-01',
 '2017-12-01',
 '2018-01-01',
 '2018-02-01',
 '2018-03-01',
 '2018-04-01',
 '2018-05-01',
 '2018-06-01',
 '2018-07-01',
 '2018-08-01',
 '2018-09-01',
 '2018-10-01',
 '2018-11-01',
 '2018-12-01',
 '2019-01-01',
 '2019-02-01',
 '2019-03-01',
 '2019-04-01',
 '2019-05-01',
 '2019-06-01',
 '2019-07-01',
 '2019-08-01',
 '2019-09-01',
 '2019-10-01',
 '2019-11-01',
 '2019-12-01',
 '2020-01-01',
 '2020-02-01',
 '2020-03-01',
 '2020-04-01',
 '2020-05-01',
 '2020-06-01',
 '2020-07-01',
 '2020-08-01',
 '2020-09-01',
 '2020-10-01',
 '2020-11-01',
 '2020-12-01',
 '2021-01-01',
 '2021-02-01',
 '2021-03-01',
 '2021-04-01',
 '2021-05-01',
 '2021-06-01',
 '2021-07-01',
 '2021-08-01',
 '2021-09-01',
 '2021-10-01',
 '2021-11-01',
 '2021-12-01',
 '2022-01-01',
 '2022-02-01',
 '2022-03-01',
 '2022-04-01',
 '2022-04-18']

In [18]:
marketing = pd.read_csv("Données devoir SAS.csv")

In [19]:
marketing

     ID;annee_naissance;Niveau_educatif;Situation_maritale;Revenu;Nb_enfant;Nb_ado;date_ancienneté;NB_jours_achat;mt_vin;mt_fruit;mt_viande;mt_poisson;mt_bonbon;mt_or;nb_achat_discount;nb_achat_web;nb_achat_catalogue;nb_achat_magasin;nb_web_visite;offre_accepte_1;offre_accepte_2;offre_accepte_3;offre_accepte_4;offre_accepte_5;Plainte;Reponse
0     5524;1957;Graduation;Single;58138;0;0;04/09/20...
1     2174;1954;Graduation;Single;46344;1;1;08/03/20...
2     4141;1965;Graduation;Together;71613;0;0;21/08/...
3     6182;1984;Graduation;Together;26646;1;0;10/02/...
4     5324;1981;PhD;Married;58293;1;0;19/01/2014;94;...
...                                                 ...
2235  10870;1967;Graduation;Married;61223;0;1;13/06/...
2236  4001;1946;PhD;Together;64014;2;1;10/06/2014;56...
2237  7270;1981;Graduation;Divorced;56981;0;0;25/01/...
2238  8235;1956;Master;Together;69245;0;1;24/01/2014...
2239  9405;1954;PhD;Married;52869;1;1;15/10/2012;40;...

[2240 rows x 1 columns]

In [22]:
election = pd.read_csv("p2022-resultats-regions-t1.csv")

In [23]:
election

,CodeRégion,Région,Inscrits,Abstentions,Abstentions_ins,Votants,Votants_ins,Blancs,Blancs_ins,Blancs_vot,...,MACRON.exp,LASSALLE.exp,LE PEN.exp,ZEMMOUR.exp,MÉLENCHON.exp,HIDALGO.exp,JADOT.exp,PÉCRESSE.exp,POUTOU.exp,DUPONT-AIGNAN.exp
0,44,Grand Est,3862920,1008344,26.103155,2854576,73.896845,42255,1.093862,1.480255,...,27.284536,2.771941,29.538021,7.168195,17.625822,1.432880,4.007375,4.328243,0.796120,2.681630
1,75,Nouvelle-Aquitaine,4463041,962499,21.565991,3500542,78.434009,53440,1.197390,1.526621,...,27.635364,5.898468,22.798396,6.154318,19.918812,2.260427,4.436117,4.596674,0.953136,1.977940
2,84,Auvergne-Rhône-Alpes,5557535,1228490,22.104944,4329045,77.895056,70067,1.260757,1.618532,...,27.754374,3.222277,22.277774,7.390658,21.196556,1.832210,5.307944,5.146634,0.722481,2.325423
3,27,Bourgogne-Franche-Comté,1992409,456682,22.921097,1535727,77.078903,26392,1.324628,1.718535,...,26.314704,3.308843,27.351217,7.148027,18.555011,1.772234,4.021796,5.118133,0.850496,2.583337
4,53,Bretagne,2562061,543414,21.210034,2018647,78.789966,31884,1.244467,1.579474,...,32.792810,2.972002,19.528223,4.914270,20.649774,2.209050,6.191887,4.702668,1.009010,1.779361
5,24,Centre-Val de Loire,1837328,459528,25.010668,1377800,74.989332,23216,1.263574,1.685005,...,28.533316,2.873692,25.856834,6.584165,18.677176,1.721732,4.043863,5.329030,0.834477,2.360785
6,11,Île-de-France,7349284,1760727,23.957803,5588557,76.042197,76616,1.042496,1.370944,...,30.193068,1.592695,12.973475,7.465316,30.244509,1.431845,5.399132,6.188414,0.602665,1.592477
7,76,Occitanie,4323929,940541,21.751999,3383388,78.248001,47891,1.107581,1.415475,...,23.483328,5.586746,24.627947,7.857348,22.411143,2.329593,4.202293,3.899601,0.721647,1.910306
8,32,Hauts-de-France,4255350,1146209,26.935716,3109141,73.064284,42945,1.009200,1.381250,...,25.399007,2.054192,33.340127,5.898105,18.984255,1.341716,3.128413,3.534833,0.694461,1.820754
9,28,Normandie,2413749,590804,24.476613,1822945,75.523387,28947,1.199255,1.587925,...,29.255915,2.550541,27.144127,5.576000,18.816742,1.695295,4.108239,4.474436,0.897410,2.162083
10,52,Pays de la Loire,2832949,652018,23.015522,2180931,76.984478,38934,1.374328,1.785201,...,33.274217,2.566085,20.777290,5.376783,19.223500,2.034884,6.013557,5.019453,0.866815,2.078317
11,93,Provence-Alpes-Côte d'Azur,3663871,959575,26.190196,2704296,73.809804,35917,0.980302,1.328146,...,23.343139,2.745289,27.595303,11.712317,19.759864,1.112025,4.056869,4.376104,0.611367,2.268680
12,94,Corse,243032,90629,37.290974,152403,62.709026,2593,1.066938,1.701410,...,18.120810,10.402247,28.592270,12.794832,13.366175,1.074152,3.247564,6.328882,0.929620,1.756779
13,1,Guadeloupe,316023,174592,55.246612,141431,44.753388,2719,0.860380,1.922492,...,13.426361,0.764704,17.917607,2.293371,56.158715,1.677462,1.426509,2.945553,0.527816,1.564941
14,2,Martinique,304594,174588,57.318266,130006,42.681734,4001,1.313552,3.077550,...,16.301881,0.945107,13.416132,2.564478,53.104946,3.200514,1.608797,3.847937,0.794638,2.431089
15,3,Guyane,102993,65754,63.843174,37239,36.156826,825,0.801025,2.215419,...,14.224366,1.438889,17.662642,4.386381,50.592566,1.491871,2.621232,2.780179,1.288308,1.999387
16,4,La Réunion,675539,313159,46.356909,362380,53.643091,7361,1.089648,2.031293,...,18.035794,1.396907,24.734259,3.769112,40.258849,1.600215,2.305301,2.808234,0.780065,2.404503
17,6,Mayotte,92187,55024,59.687375,37163,40.312625,922,1.000141,2.480962,...,16.935806,1.024251,42.676177,1.375178,23.960057,0.907275,0.841655,8.017118,0.935806,1.512126